body {
    background: linear-gradient( 45deg, rgba(135,206,250, 0.2), rgba(30,144,255, 0.5) ), url("../img/bkgPrc.jpg") center top no-repeat;
    background-size: auto;
    position: relative;
}

.admin-header {
    width: 100vw;
    height: 15vh;
    background-color: gray;
    align-items: center;
}

/*Client*/
/*Client*/
/*Admin*/
/*Agenda -> */
.title {
    font-size: 20px;
    font-weight: bold;
    color: rgba(100,100,100,.8)
}

.divGeral {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 100vw;
    height: 80vh;
    align-items: center;
}

.divLeft {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 82vh;
    align-items: center;
    text-align: center;
    overflow-y: auto;
}

.divCenter {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 82vh;
    align-items: center;
    text-align: center;
}

.divRight {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 82vh;
    align-items: center;
    text-align: center;
}

.inputData {
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.15), 0 6px 6px 0 rgba(0,0,0,0.19);
    width: 80px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    height: 33px;
}

.divAgendamentos {
    background: linear-gradient( 45deg, rgba(135,206,250, 0.2), rgba(30,144,255, 0.5) );
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.15), 0 6px 6px 0 rgba(0,0,0,0.19);
    border: none;
    border-radius: 5px;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.divAtendimentos {
    background: linear-gradient( 45deg, rgba(135,206,250, 0.2), rgba(30,144,255, 0.5) );
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.15), 0 6px 6px 0 rgba(0,0,0,0.19);
    border: none;
    border-radius: 5px;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

/*<- Agenda*/
.nav-btn {
    padding-top: 5px;
}

.div-center {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.btn-nav {
    background-color: #ddd;
}

.div-grid-protocol {
    padding-left: 20vw;
    width: 80vw;
    height: 15vh;
    overflow-y: scroll;
}

.div-chat-details {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.div-chat-left {
    width: 23vw;
    height: 65vh;
    background-color: rgba(0,100,200,.3);
}

.div-chat-right {
    width: 23vw;
    height: 65vh;
    background-color: rgba(0,100,200,.3);
}

.div-chat-middle {
    padding-left: 10px;
    width: 50vw;
    height: 65vh;
    background-color: rgba(0,0,255,.55);
    border-radius: 5px;
}

.div-chat-msg {
    width: 48vw;
    height: 45vh;
    overflow-y: scroll;
    border-color: rgba(100,200,200,.5);
    border-radius: 5px;
    border-style: solid;
}

.div-chat-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 15vh;
}

.txtMsg {
    width: 38vw;
    height: 60px;
    resize: none;
    border-radius: 10px;
    padding-left: 5px;
    background-color: rgba(169,169,169,.6);
}

.btnMsg {
    width: 100px;
}

/*Caixa de Msg*/
.msg-header {
    font-size: 20px;
    font-weight: bold;
}

.msgChatr {
    text-align: right;
    margin-left:10%;
}

.msgChatl {
    border: none;
    margin-right: 10%;
}

.msgChatSend {
    margin: 15px;
}

.msgChatRecive {
    margin: 15px;
}

.msg-nome {
    font-weight: bold;
}

.msg-bodyChat {
    padding: 0px 7px 0px 7px;
    font-size: 15px;
    background-color: rgba(225,225,225,.5);
    border-radius: 5px;
    display: inline-block;
}

.msg-data {
    padding: 0px 3px 0px 3px;
    color: gray;
    font-size: 9px;
    background-color: rgba(180,180,180,.7);
    border-radius: 5px;
}
/*Caixa de Msg*/

/*Admin*/

@media (max-width: 600px) {
    .divGeral {
        flex-direction: column;
    }

    .divLeft {
        width: 100vw;
    }

    .divCenter {
        width: 100vw;
    }

    .divRight {
        width: 100vw;
    }
}
