

body {
}

.default {
}

.divHome {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 60%;
}

.section {
    position: fixed;
    _position: absolute;
    top: 30%;
    margin: 50px auto;
}

.divLeftHome{
    width: 20%;
    flex-direction: column;
}

.sectionDiv {
    width: 20%;
    flex-direction: column;
}

.icone {
    z-index:3;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 10px 15px;
    transition: all 0.4s ease-out;
    border-radius: 50%;
}

    .icone#facebook {
        background-color: #2372a3;
    }

    .icone#instagram {
        background-color: #3f729b;
    }

    .icone#mail {
        background-color: #4682B4;
    }

    .icone#youtube {
        background-color: #b00;
    }

    .icone:hover {
        cursor: pointer;
        transform: translateX(15px);
        box-shadow: -15px 0px 10px 0px rgba(50,50,50,0.3);
    }

.iconeImg {
    margin: 0px auto;
    width: 65%;
    height: 65%;
}

.imgBtn {
    position: relative;
    text-align: center;
    width:80%;
}

    .imgBtn a {
        position: absolute;
        z-index: 1;
        top: 70%;
        left: 60%;
        width: 20%;
        height: 10%;
        padding: 0;
        border: 0 none;
        font-size: 50%;
        background-color: transparent;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

.imgRodape {
    width: 100%;
    height: auto;
    padding: 70px 50px 50px 70px;
}

.divGeral {
    display: flex;
    flex-direction: row;
}

.bodyPosts {
    height: auto;
    max-width: 100%;
    background-color: aliceblue;
    text-align: center;
    margin: 20px auto;
}

.textPost {
    text-align: left;
    margin: 20px 20px 20px 20px;
}

.separador {
    width: 100%;
    height: 20px;
    background-color: #fff;
}

.textRight {
    width: 100%;
    text-align: right;
    padding-top: 15px;
    padding-right: 15px;
    font-weight: bold;
    color: #818181;
}

.textLeft {
    width: 100%;
    text-align: left;
    padding-top: 15px;
}

.imgNav {
    width: 50px;
    height: 50px;
}

.imgFull {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.texAndImage {
    display: flex;
}

.imgPart {
    width: 50%;
    height: 50%;
    margin: 0px 20px 15px 0;
}

.textImg {
    width: 50%;
    height: auto;
}

.navColor {
    background-color: #0000EE;
    border-color: transparent;
}

.linksNav {
    color: #fff;
}

.title {
    color: #000;
    font-family: Helvetica;
    text-align: left;
    font-size: 35px;
}

.titleNewPost {
    font-size: 30px;
    color: #000;
    font-family: Helvetica;
    font-weight: bold;
    text-align: center;
}

.subTitle {
    color: #000;
    font-size: 20px;
}

.bodyNewPost {
    margin: 20px 20px 20px 20px;
}

.btnSrc {
    color: #6495ED;
    background-color: transparent;
    border-color: #6495ED;
    border-width: 2px;
    border-radius: 7px;
    padding: 5px 10px;
}

    .btnSrc:hover {
        color: #fff;
        background-color: #6495ED;
        border-color: #6495ED;
    }

.textPre {
    text-align: left;
    background-color: #fff;
    border-radius: 8px;
}

/*Botões da postagem*/
.negrito {
    width: 35px;
    font-weight: bold;
    border-color: transparent;
    border-radius: 5px;
    background-color: #4682B4;
}

.italico {
    width: 35px;
    font-style: italic;
    font-weight: bold;
    border-color: transparent;
    border-radius: 5px;
    background-color: #4682B4;
}

.sublinhado {
    width: 35px;
    text-decoration: underline;
    font-weight: bold;
    border-color: transparent;
    border-radius: 5px;
    background-color: #4682B4;
}

.btnLink {
    width: 70px;
    color: #00ddff;
    text-decoration: underline;
    border-color: transparent;
    border-radius: 5px;
    background-color: #4682B4;
}

.modalBackground {
    background-color: #999;
    filter: alpha(opacity-]=70);
    opacity: 0.7;
}

.modalPopUp {
    padding: 3px;
    max-width: 500px;
}

.divPopUp {
    background-color: #000080;
    border-width: 3px;
    border-style: solid;
    border-color: transparent;
    border-radius: 12px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.txtPop {
    width: 90%;
}

.logoPopUp {
    width: 200px;
    height: auto;
}

.subTitle {
    font-size: 25px;
    text-align: center;
}

.bodyPostsSecundarios {
    width: 100%;
}

.postsSecundarios {
    float: left;
    margin: 5% 5% 5% 5% ;
    text-align: center;
    width: 40%;
    border: 5px solid #4682B4;
    border-radius: 5px;
    height: auto;
}

.imgSecundaria {
    width: 95%;
    height: 150px;
    border-radius: 10px;
}

@media (max-width: 600px) {
    /*        background-color:rgba(0, 0, 255, 0.7); */

    .divHome {
        background-color: transparent;
            width: 100%;
    }

    .sectionDiv {
        display: flex;
        position: fixed;
        flex-direction: column;
        align-items: center;
        width: 100%;
        bottom: 60px;
    }

    .section {
        display: flex;
        flex-direction: row;
        margin: auto;
        padding: 11px;
        position: absolute;
    }

    .divGeral {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .bodyPosts {
        height: auto;
        width: 95%;
    }

    .postsSecundarios {
        float: none;
        align-items: center;
        height: auto;
        width: 95%;
        margin: 20px 20px 20px 20px;
    }

    .bodyPostsSecundarios {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: aliceblue;
    }

    .title {
        font-size: 25px;
        text-align: center;
    }

    .icone:hover {
        cursor: pointer;
        transform: translateY(-10px);
        box-shadow: 0px 15px 10px 0px rgba(50,50,50,0.3);
    }

    .icone {
        margin: 0px 5px;
    }
    .imgBtn{
        width:100%;
    }

    .imgBtn a {
        position: absolute;
        left: 60%;
        width: 40%;
        height: 20%;
        border: 0 none;
        border-radius:7px;
        font-size: 50%;
        margin-top: 12%;
        background-color: transparent;
    }
    .imgRodape {
    width: 100%;
    height: auto;
    padding: 0 0 0 0;
}
}
